export DB_HOST=127.0.0.1
export DB_USER=root
export DB_PASS=SUPERSECRETPASSWORD
export DB_PORT=13306
export DB_DB=postfixadmin
export MAILCOW_HOST=https://mailcowserver.example.com/
export MAILCOW_API_KEY=SUPERSECRETAPIKEY
